{% extends '::backend.html.twig' %}

{% block body -%}
    <h1>GalleryItem creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_galleryitem') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
