{% extends '::backend.html.twig' %}

{% block body -%}
<div class="page-header">
    <h1>Category creation</h1>
    <ul class="record_actions list-inline">
        <li>
            <a href="{{ path('admin_project_category') }}" class="btn btn-default">
                Back to the list
            </a>
        </li>
    </ul>
</div>
{{ form(form) }}

{% endblock %}
