<ul class="list-group">
    {% for entity in entities %}
    <li class="list-group-item">
        <span class="badge"></span>
        <a href="{{ path('category_show', { 'id': entity.id }) }}">{{ entity.name }}</a>
    </li>
    {% endfor %}
</ul>