<ul class="list-group">
    {% for entity in entities %}
    <li class="list-group-item">
        <span class="badge"></span>
        <a href="{{ path('product_by_category', { 'slug': entity.slug }) }}">{{ entity.name }}</a>
    </li>
    {% endfor %}
</ul>