{% extends '::backend.html.twig' %}

{% block body -%}
<div class="page-header">    
    <h1>{{ "new product" |trans|title }}</h1>
    <ul class="record_actions list-inline">
        <li>
            <a href="{{ path('admin_product') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-arrow-left"></i> {{ "back to list" |trans }}
            </a>
        </li>
    </ul>
</div>

{{ form(form, { 'style': 'horizontal', 'align_with_widget': true }) }}

{% endblock %}
